
body{
    background-color: #FEFCF3;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: auto; 
    position: relative;
    min-height: 100vh;
    padding-bottom: 5rem;
}

.navbar-custom{
    font-weight: 700;
    color: #E38B29;
}
.navbar-custom:hover{
    font-weight: 700;
    color: #B8621B;
}

.btn-custom{
    background-color: #FFD8A9;
    font-family: 'Montserrat', sans-serif;
}
.btn-custom:hover{

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a:hover{
    color: #B8621B;
}
a{
    color: black;
}

#carousel{
    width: 90%;
    margin: auto;
}




/* Login */
.login-sentence{
    font-weight: 700;
    color: #E38B29;
}

#login-form{
    width: 10%;
    margin: 0;
}



/* FIND DOG */

/* Card */
.dog-card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    width: 18rem;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.dog-single-card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    width: 80%;
    margin: auto;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.dog-card .card-body p{
    line-height: 0.3cm;
}

.card-title{
    font-weight: 700;
    font-size: 1.5em;
}

.dog-img{
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.dog-single-img{
    width: 30%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.dog-single-card{
    width: 50%;
}

/* ADD DOG */
#add-dog{
    width: 80%;
    margin: auto;
}

form{
    display: block;
	text-align: center;
    margin-bottom: 2rem;
	font-size: 1.2rem;
}

#add-dog-prompt{
    margin-left: 50px;
	float: left;
    text-align: end;
    line-height: 0.9cm;
}

textarea {
    letter-spacing: 1px;
    padding: 12px;
    line-height: 1.5;
    text-align: left;
	font-family: 'Montserrat', sans-serif;
}


#form-add{
	display: flex;
	flex-direction: column;
	width: 60%;
}
#form-add > *{
	margin:0.2rem 0 0.8rem 0;
	margin-left: 1rem;
}

/* Footer */
#footer{
    position: absolute;
    bottom: 0px;  
    width: 100%;
    text-align: center;
}


.social-icon{
    margin: 1% 0.5%
}
